.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.project-title{
  color: rgb(135, 59, 175);
}

.project-main {
  display: flex;
  flex-direction: row;
}

.carousel-container {
  position: relative;
  height: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.carousel-slide {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel-image {
  width: 100%;
  max-height: 300px;
  object-fit: contain;
  margin-bottom: 20px;
  border-radius: 8px;
}

.carousel-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.carousel-description {
  font-size: 1rem;
  color: #555;
  max-width: 90%;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(85, 84, 84, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  z-index: 10;
  transition: background-color 0.3s ease;
}


.carousel-button.left {
  left: 10px;
}

.carousel-button.right {
  right: 10px;
}

.carousel-button:hover {
  background-color: #ff8888;
}

.carousel-indicators {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 10px;
}

.indicator {
  width: 12px;
  height: 12px;
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.indicator.active {
  background-color: #333;
}

.indicator:hover {
  filter: drop-shadow(0 0 5px #ff8888) drop-shadow(0 0 10px #ff8888)
    drop-shadow(0 0 0px #ff8888);
}

.owl {
  width: 30px;
  height: 30px;
}
.project-header_title{
  display: flex;
  gap: 10px;
}
.project-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}