.about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  gap: 20px;
  margin: 0px 10px 0px 10px;
}

.salt {
  color: #ff8888;
}



@media only screen and (max-width: 768px) {
 
}