:root {
  font-family: "Rubik", sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-size: 1rem;
  letter-spacing: 2px;
  /* overflow-y: hidden; */
  padding: 20px;
}

.applicationContent {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.page1 {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
  padding: 20px;
}

.scrollDown {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding-bottom: 10px;
  animation: MoveUpDown 1.5s linear infinite;
}

.scrollUp {
  animation: MoveUpDown 1.5s linear infinite;
}

.scrollDown svg,
.scrollUp svg {
  filter: drop-shadow(0 0 5px #dfdbdb) drop-shadow(0 0 10px #e1dede)
    drop-shadow(0 0 20px #dea0a0);
}

.scrollDown:hover svg,
.scrollUp:hover svg {
  fill: #ff8888;
  filter: drop-shadow(0 0 5px #ff8888) drop-shadow(0 0 10px #ff8888)
    drop-shadow(0 0 20px #ff8888);
}

@keyframes MoveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.page2, .page3 {
  scroll-margin: 20px;
  padding-top: 20px;
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 40px;
}


.page4 {
  scroll-margin: 20px;
  padding-top: 20px;
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}

.page5 {
  scroll-margin: 20px;
  padding-top: 10px;
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
}



@media (max-width: 429px) { 
  .languages {
    display: none;
  }
 .smallScreenExperience{
  display: none;
 }
 .page3, .page4, .page5{
  font-size: 0.9rem;
 }
}
