* {
  margin: 0;
  padding: 0;
  border: 0;
}

button {
  -webkit-appearance: none;
  border-radius: 0;
  text-align: inherit;
  background: none;
  box-shadow: none;
  cursor: pointer;
  padding: 0;
  border: none;
  color: inherit;
  font: inherit;
}
